.footer {
	flex: 0 0 auto;
	background:  url('../img/bg.jpg') 50% 0;
	padding: 3em 0 1em;
	color: $color-footer;

	&__row {
		margin-bottom: 2.5em;
		text-align: center;

		@media (min-width: $screen-sm) {
			text-align: left;
		}
	}

	&__logo {
		margin-bottom: 30px;

		@media (min-width: $screen-sm) {
			margin-bottom: 0;
		}
	}

	&__phone {
		text-align: center;
		margin: 15px 0 0;

		@media (min-width: $screen-md) {
			text-align: right;
			margin: 0;
		}
	}

	&__phone-link {
		color: $color-footer;
		text-decoration: none;
		font-weight: bold;
	}

	&__copyright {
		margin: 0 0 1rem;
	}

	&__copyright-text,
	&__copyright-link {
		display: inline-block;
		vertical-align: middle;
	}

	&__copyright-text {
		margin-right: 1rem;
	}

	&__copyright-img {
		display: block;
		width: 7.5rem;
		max-height: 3.45rem;
		fill: $color-main;

		.cls-1,
		.cls-2 {
			transition: .2s ease;
		}

		&:hover {

			.cls-1 {
				fill: $color-webcenter-2;
			}

			.cls-2 {
				fill: $color-webcenter-1;
			}
		}
	}

	&__rights {
		text-align: left;

		@media (min-width: $screen-sm) {
			text-align: right;
		}

		@media (min-width: $screen-md) {
			text-align: center;
		}
	}
}